# 1) List and it's default functions :

In [1]:
# 1) append()	Adds an element at the end of the list

In [3]:
fruits = ['jackfruit', 'guava', 'mango', 'grapes']

fruits.append("banana")

fruits

['jackfruit', 'guava', 'mango', 'grapes', 'banana']

In [4]:
fruits = ['jackfruit', 'guava', 'mango', 'grapes']

vegetables = ['potato', 'tomato', 'pumpkin']

fruits.append(vegetables)

fruits

['jackfruit', 'guava', 'mango', 'grapes', ['potato', 'tomato', 'pumpkin']]

In [5]:
# 2) clear()	Removes all the elements from the list

In [6]:
fruits = ['jackfruit', 'guava', 'mango', 'grapes']

fruits.clear()

fruits

[]

In [7]:
# 3) copy()	Returns a copy of the list

In [8]:
fruits = ['jackfruit', 'guava', 'mango', 'grapes']

fruits_copy = fruits.copy()

fruits_copy

['jackfruit', 'guava', 'mango', 'grapes']

In [9]:
# 4) count()	Returns the number of elements with the specified value

In [10]:
num = [1, 4, 2, 9, 7, 8, 9, 3, 1]

x = num.count(9)

print(x)

2

In [11]:
# 5) extend()	Add the elements of a list (or any iterable), to the end of the current list

In [13]:
fruits = ['jackfruit', 'guava', 'mango', 'grapes']

vegetables = ['potato', 'tomato', 'pumpkin']

fruits.extend(vegetables)

fruits

['jackfruit', 'guava', 'mango', 'grapes', 'potato', 'tomato', 'pumpkin']

In [14]:
# 6) index()	Returns the index of the first element with the specified value

In [15]:
fruits = ['jackfruit', 'guava', 'mango', 'grapes', 'mango']

x = fruits.index('mango')

x

2

In [16]:
# 7) insert()	Adds an element at the specified position

In [17]:
fruits = ['jackfruit', 'guava', 'mango', 'grapes']

fruits.insert(1,'apple')

fruits

['jackfruit', 'apple', 'guava', 'mango', 'grapes']

In [18]:
# 8) pop()	Removes the element at the specified position

In [19]:
fruits = ['jackfruit', 'guava', 'mango', 'grapes']

fruits.pop(1)

fruits

['jackfruit', 'mango', 'grapes']

In [20]:
# 9) remove()	Removes the first occurance of item with the specified value

In [21]:
fruits = ['jackfruit', 'guava', 'mango', 'grapes', 'mango']

x = fruits.remove('mango')

x

In [22]:
# 10) reverse()	Reverses the order of the list

In [23]:
fruits = ['jackfruit', 'guava', 'mango', 'grapes']

fruits.reverse()

fruits

['grapes', 'mango', 'guava', 'jackfruit']

In [24]:
# 11) sort()	Sorts the list

In [28]:
fruits = ['jackfruit', 'guava', 'mango', 'grapes']

fruits.sort()

fruits

['grapes', 'guava', 'jackfruit', 'mango']

In [27]:
fruits = ['jackfruit', 'guava', 'mango', 'grapes']

fruits.sort(reverse = True)

fruits

['mango', 'jackfruit', 'guava', 'grapes']

# 2) Dictionary and it's default functions :

In [29]:
# 1) clear()	Removes all the elements from the dictionary

In [30]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.clear()

print(car)

{}

In [31]:
# 2) copy()	Returns a copy of the dictionary

In [32]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.copy()

print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [33]:
# 3) fromkeys()	Returns a dictionary with the specified keys and value

In [34]:
x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [35]:
# 4) get()	Returns the value of the specified key

In [36]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("model")

print(x)

Mustang

In [37]:
# 5) items()	Returns a list containing a tuple for each key value pair

In [38]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [39]:
# 6) keys()	Returns a list containing the dictionary's keys

In [40]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

In [41]:
# 7) pop()	Removes the element with the specified key

In [42]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.pop("model")

print(car)

{'brand': 'Ford', 'year': 1964}

In [43]:
# 8) popitem()	Removes the last inserted key-value pair

In [44]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.popitem()

print(car)

{'brand': 'Ford', 'model': 'Mustang'}

In [45]:
# 9) setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value

In [46]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")

print(x)

Mustang

In [48]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("color", "white")

print(x)

print(car)

white
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [49]:
# 10) update()	Updates the dictionary with the specified key-value pairs

In [50]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

In [51]:
# 11) values()	Returns a list of all the values in the dictionary

In [52]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])

# 3) Set and it's default functions :

In [55]:
# 1) add()	Adds an element to the set

In [54]:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'cherry', 'banana', 'orange', 'apple'}

In [56]:
# 2) clear()	Removes all the elements from the set

In [57]:
fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

In [58]:
# 3) copy()	Returns a copy of the set

In [60]:
fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'cherry', 'banana', 'apple'}

In [61]:
# 4) difference()	Returns a set containing the difference between two or more sets

In [62]:
x = {"apple", "banana", "cherry"}

y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'cherry', 'banana'}

In [63]:
# 5) difference_update()	Removes the items in this set that are also included in another, specified set

In [64]:
x = {"apple", "banana", "cherry"}

y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'cherry', 'banana'}

In [65]:
# 6) discard()	Remove the specified item

In [66]:
fruits = {"apple", "banana", "cherry"}

fruits.discard("banana")

print(fruits)

{'cherry', 'apple'}

In [67]:
# 7) intersection()	Returns a set, that is the intersection of two other sets

In [68]:
x = {"apple", "banana", "cherry"}

y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [69]:
# 8) intersection_update()	Removes the items in this set that are not present in other, specified set(s)

In [72]:
x = {"apple", "banana", "cherry"}

y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [73]:
# 9) isdisjoint()	Returns whether two sets have a intersection or not

In [74]:
x = {"apple", "banana", "cherry"}

y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

In [75]:
# 10) issubset()	Returns whether another set contains this set or not

In [76]:
x = {"a", "b", "c"}

y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [77]:
# 11) issuperset()	Returns whether this set contains another set or not

In [78]:
x = {"f", "e", "d", "c", "b", "a"}

y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [79]:
# 12) pop()	Removes an element from the set

In [83]:
fruits = {"apple", "banana", "cherry"}

x = fruits.pop()

print(x)

cherry

In [84]:
# 13) remove()	Removes the specified element

In [85]:
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'cherry', 'apple'}

In [86]:
# 14) symmetric_difference()	Returns a set with the symmetric differences of two sets.Return a set that contains all items from both sets, except items that are present in both sets:

In [87]:
x = {"apple", "banana", "cherry"}

y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'banana', 'cherry', 'microsoft', 'google'}

In [88]:
# 15) symmetric_difference_update()	inserts the symmetric differences from this set and another

In [90]:
x = {"apple", "banana", "cherry"}

y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'banana', 'cherry', 'microsoft', 'google'}

In [91]:
# 16) union()	Return a set containing the union of sets

In [92]:
x = {"apple", "banana", "cherry"}

y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'cherry', 'apple', 'google', 'microsoft', 'banana'}

In [93]:
# 17) update()	Update the set with the union of this set and others

In [94]:
x = {"apple", "banana", "cherry"}

y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'cherry', 'apple', 'google', 'microsoft', 'banana'}

# 4) Tuple and it's functions

In [95]:
# 1) count()	Returns the number of times a specified value occurs in a tuple

In [96]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [97]:
# 2) index()	Searches the tuple for a specified value and returns the position of where it was found

In [98]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

# 5) String and it's functions

In [99]:
# 1) capitalize()	Converts the first character to upper case

In [100]:
txt = "Welcome."

x = txt.capitalize()

print (x)

Welcome.

In [101]:
# 2) casefold()	Converts string into lower case

In [102]:
txt = "Welcome."

x = txt.casefold()

print (x)

welcome.

In [103]:
# 3) center()	Returns a centered string

In [105]:
txt = "banana"

x = txt.center(50)

print(x)

                      banana

In [106]:
# 4) count()	Returns the number of times a specified value occurs in a string

In [107]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [108]:
# 5) encode()	Returns an encoded version of the string

In [111]:
txt = "My name is steve"

x = txt.encode()

print(x)

b'My name is steve'

In [ ]:
# 6) endswith()	Returns true if the string ends with the specified value

In [112]:
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [113]:
# 7) expandtabs()	Sets the tab size of the string

In [115]:
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(5)

print(x)

H    e    l    l    o

In [116]:
# 8) find()	Searches the string for a specified value and returns the position of where it was found

In [117]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [118]:
txt = "Hello, welcome to my world."

x = txt.find("e", 5, 10) # (value, start, end)

print(x) # first occurance

8

In [122]:
txt = "Hello, welcome to my world."

print(txt.find("q")) # if not found return -1

print(txt.index("q")) # for index traceback

-1

ValueError: substring not found

In [123]:
# 9) format()	Formats specified values in a string

In [124]:
txt = "For only {price:.2f} dollars!"

print(txt.format(price = 49))

For only 49.00 dollars!

In [125]:
# 10) index()	Searches the string for a specified value and returns the position of where it was found

In [126]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [127]:
# 11) isalnum()	Returns True if all characters in the string are alphanumeric

In [128]:
txt = "Company12"

x = txt.isalnum()

print(x)

True

In [129]:
# 12) isalpha()	Returns True if all characters in the string are in the alphabet

In [130]:
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [131]:
# 13) isdecimal()	Returns True if all characters in the string are decimals

In [132]:
txt = "\u0033" #unicode for 3

x = txt.isdecimal()

print(x)

True

In [133]:
# 14) isdigit()	Returns True if all characters in the string are digits

In [134]:
txt = "50800"

x = txt.isdigit()

print(x)

True

In [136]:
# 15) isidentifier()	Returns True if the string is an identifier

In [137]:
# A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9),
#or underscores (_). A valid identifier cannot start with a number, or contain any spaces.

txt = "Demo"

x = txt.isidentifier()

print(x)

True

In [138]:
# 16) islower()	Returns True if all characters in the string are lower case

In [139]:
txt = "hello world!"

x = txt.islower()

print(x)

True

In [140]:
# 17) isnumeric()	Returns True if all characters in the string are numeric

In [141]:
txt = "565543"

x = txt.isnumeric()

print(x)

True

In [142]:
# 18) isprintable()	Returns True if all characters in the string are printable

In [143]:
txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

True

In [144]:
txt = "Hello!\nAre you #1?"

x = txt.isprintable()

print(x)

False

In [145]:
# 19) isspace()	Returns True if all characters in the string are whitespaces

In [146]:
txt = "   "

x = txt.isspace()

print(x)

True

In [147]:
txt = "  s  "

x = txt.isspace()

print(x)

False

In [148]:
# 20) istitle()	Returns True if the string follows the rules of a title

In [149]:
a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

In [150]:
# 21) isupper()	Returns True if all characters in the string are upper case

In [151]:
a = "Hello World!"
b = "hello 123"
c = "MY NAME IS PETER"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

In [152]:
# 22) join()	Joins the elements of an iterable to the end of the string

In [153]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [154]:
# 23) ljust()	Returns a left justified version of the string

In [155]:
txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [157]:
txt = "banana"

x = txt.ljust(20, "O")

print(x)

bananaOOOOOOOOOOOOOO

In [158]:
# 24) lower()	Converts a string into lower case

In [159]:
txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

In [160]:
# 25) lstrip()	Returns a left trim version of the string

In [161]:
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [162]:
txt = ",,,,,ssaaww.....banana"

x = txt.lstrip(",.asw")

print(x)

banana

In [163]:
# 26) maketrans()	Returns a translation table to be used in translations

In [165]:
txt = "Hello Sam!";

mytable = txt.maketrans("S", "P");

print(txt.translate(mytable));

Hello Pam!

In [166]:
# 27) partition()	Returns a tuple where the string is parted into three parts

In [167]:
txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

In [168]:
# 28) replace()	Returns a string where a specified value is replaced with a specified value

In [169]:
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three")

print(x)

three three was a race horse, two two was three too.

In [170]:
#Replace the two first occurrence of the word "one":

txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three", 2)

print(x)

three three was a race horse, two two was one too.

In [171]:
# 29) rfind()	Searches the string for a specified value and returns the last position of where it was found

In [172]:
txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

12

In [173]:
#If the value is not found, the rfind() method returns -1, but the rindex() method will raise an exception:

txt = "Hello, welcome to my world."

print(txt.rfind("q"))

print(txt.rindex("q"))

-1

ValueError: substring not found

In [174]:
# 30) rindex()	Searches the string for a specified value and returns the last position of where it was found

In [175]:
txt = "Mi casa, su casa."

x = txt.rindex("casa")

print(x)

12

In [176]:
# 31) rjust()	Returns a right justified version of the string

In [177]:
txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [178]:
txt = "banana"

x = txt.rjust(20, "O")

print(x)

OOOOOOOOOOOOOObanana

In [179]:
# 32) rpartition()	Returns a tuple where the string is parted into three parts for last occurance of value

In [180]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [181]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("apples")

print(x)

('', '', 'I could eat bananas all day, bananas are my favorite fruit')

In [182]:
# 33) rsplit()	Splits the string at the specified separator, and returns a list

In [183]:
txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

In [184]:
# 34) rstrip()	Returns a right trim version of the string

In [185]:
txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [186]:
txt = "banana,,,,,ssqqqww....."

x = txt.rstrip(",.qsw")

print(x)

banana

In [187]:
# 35) split()	Splits the string at the specified separator, and returns a list

In [188]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [189]:
#  Split the string into a list with max 2 items:

txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

In [190]:
# 36) splitlines()	Splits the string at line breaks and returns a list

In [191]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [192]:
# 37) startswith()	Returns true if the string starts with the specified value

In [193]:
txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [194]:
# 38) strip()	Returns a trimmed version of the string

In [195]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [196]:
# 39) swapcase()	Swaps cases, lower case becomes upper case and vice versa

In [197]:
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

In [198]:
# 40) title()	Converts the first character of each word to upper case

In [199]:
txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

In [200]:
# 41) translate()	Returns a translated string

In [201]:
txt = "Hello Sam!";

mytable = txt.maketrans("S", "P");

print(txt.translate(mytable));

Hello Pam!

In [202]:
# 42) upper()	Converts a string into upper case

In [203]:
txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

In [204]:
# 43) zfill()	Fills the string with a specified number of 0 values at the beginning

In [206]:
txt = "50"

x = txt.zfill(10)

print(x)

0000000050